@font-face {
  font-family: "default";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

body {
  background-color: #212428;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  touch-action: manipulation;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
body::-webkit-scrollbar {
  display: none;
  width: 0;
}

/* Hide scrollbar for Firefox */
body {
  scrollbar-width: 0;
}

/* Hide scrollbar for Internet Explorer and Edge */
body {
  -ms-overflow-style: none;
}

html, body {
  scroll-behavior: smooth;
}


div,
h1,
h2,
h3,
h4,
h5,
input,
p {
  font-family: "default";
}

.fakeDiv {
  height: 20vh;
}

@media screen and (max-width: 768px) {
  .fakeDiv {
    height: 7vh;
  }
}
