.portaitMainDiv {
  padding-top: 115px;
  display: flex;
}

.portaitMainDiv img {
  width: 50%;
}

.portraitTextDiv {
  align-content: center;
}

.portraitImg {
  display: flex;
  justify-content: end;
  width: 50%;
}

.typewriter {
  font-size: 40px;
  font-weight: bold;
  color: #ff014f;
  text-align: end;
  display: inline-block;
  white-space: nowrap;
  position: relative;
}

.hidden-text {
  visibility: hidden;
}

.visible-text {
  position: absolute;
  right: 0;
}

.cursor {
  display: inline-block;
  width: 5px;
  background-color: #ff014f;
  animation: blink 0.7s infinite;
  position: absolute;
  right: 0;
}
.animatedSkills{
  font-size: 2vw
}

.firstNameText{
  font-size: 4.5vw;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .portaitMainDiv {
    padding-top: 16%;
  }
  .portaitMainDiv img {
    width: 80%;
  }
  .animatedSkills{
    font-size: 4vw;
  }
  .firstNameText{
    font-size: 6.5vw;
  }
}
